@implements IDisposable
@inject NavigationManager NavigationManager

<MudPaper Height="800px" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="_open" Elevation="0" Variant="DrawerVariant.Persistent" Class="custom-drawer">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Exxerpro Solutions</MudText>
            </MudDrawerHeader>

            <MudNavMenu>



                <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                <MudNavLink Href="machines" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build">Machines</MudNavLink>
                <MudNavLink Href="oee" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Dashboard">DashBoard</MudNavLink>
                <MudNavLink Href="workflows" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Assessment">Workflows</MudNavLink>
                <MudNavLink Href="services" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build">Services</MudNavLink>
                <MudNavLink Href="optimization" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Tune">Optimization</MudNavLink>
                <MudNavLink Href="automation" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Factory">Automation</MudNavLink>
                <MudNavLink Href="sustainable-energy" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Savings">Sustainability</MudNavLink>
                <MudNavLink Href="artificial-vision" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Visibility">Vision</MudNavLink>
                <MudNavLink Href="data-storage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Storage">Data</MudNavLink>

                <MudNavLink Href="auth" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Lock">Auth Required</MudNavLink>
                <AuthorizeView>
                    <Authorized>
                        <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken/>
                            <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                            <button type="submit" class="mud-nav-link mud-ripple">
                                <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
                            </button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.PersonAdd">Register</MudNavLink>
                        <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </MudNavMenu>
        </MudDrawer>
    </MudDrawerContainer>
</MudPaper>

@code {
    private string? _currentUrl;

    private bool _open = true;



    protected override void OnInitialized()

    {

        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        NavigationManager.LocationChanged += OnLocationChanged;

    }



    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)

    {

        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);

        StateHasChanged();

    }



    public void Dispose()

    {

        NavigationManager.LocationChanged -= OnLocationChanged;

    }
}
